<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kysely</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>
	<h1>Kyselyt</h1>
	
	<button onclick="location.href='/uusikysely'" type="button">
         Lisää uusi kysely</button><br>
    <button onclick="location.href='/uusikysymys'" type="button">
         Lisää uusi kysymys</button><br>
	
	<!--<table>
	  
		<tr>
			<th>Nimi</th>
		</tr>
		<tr th:each="kysely:${kyselyt}">
			<td th:text="${kysely.nimi}"></td>
		</tr>
		<tr th:each="kysymys:${kysely.kysymykset}">
			<td th:text="${kysymys.kysymysteksti}"></td>
		</tr>
	</table>-->
	<br>
	<div th:each="kysely : ${kyselyt}">
		<div th:text="${kysely.nimi}"></div>
		<ul>
			<div th:each="kysymys : ${kysely.kysymykset}">
				<li th:text="${kysymys.kysymysteksti}"></li>
			</div>
		</ul>
	</div>





</body>
</html>