<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Uusi kysely</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>
<h1>Kysely</h1>
<div>
	<form th:object="${kysely}" th:action="@{/tallenna}" action="#" method="post">
	<label for="nimi">Kyselyn nimi</label>
	<input type="text" id="nimi" th:field="*{nimi}" />
	</form>
<h2>Kysymykset</h2>
	<form th:object="${kysymys}" th:action="@{tallenna}" action="#" method="post">
	<label for="kysymysteksti">Kysymys 1</label>
	<input type="text" id="kysymysteksti" th:field="*{kysymysteksti}" /><br>
	<label for="kysymysteksti">Kysymys 2</label>
	<input type="text" id="kysymysteksti" th:field="*{kysymysteksti}" /><br>
	<label for="kysymysteksti">Kysymys 3</label>
	<input type="text" id="kysymysteksti" th:field="*{kysymysteksti}" /><br>
	<label for="kysymysteksti">Kysymys 4</label>
	<input type="text" id="kysymysteksti" th:field="*{kysymysteksti}" /><br>
	<label for="kysymysteksti">Kysymys 5</label>
	<input type="text" id="kysymysteksti" th:field="*{kysymysteksti}" />
	<input type="submit" value="Tallenna"></input>
	<button onclick="location.href='/kyselylista'" type="button">
         Peruuta</button><br>
	
	</form>
</div>
</body>
</html>