<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Uusi kysely</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>
<h1>Kysely</h1>
<div>
	<form th:object="${kysely}" th:action="@{/tallennakysely}" action="#" method="post">
	<p>Kyselyn nimi:</p>
	<textarea rows="1" cols="50" id="nimi" th:field="*{nimi}" /></textarea>
	<p>Kyselyn kuvaus:<p/>
	<textarea rows="6" cols="50" id="kysely_kuvaus" th:field="*{kysely_kuvaus}"></textarea>
	<input type="submit" value="Tallenna"></input>
	<button onclick="location.href='/kyselylista'" type="button">
         Peruuta</button><br>
	</form>
</div>
</body>
</html>